<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.binarywang.demo.wx.miniapp.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.github.binarywang.demo.wx.miniapp.model.Message">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="readed" jdbcType="INTEGER" property="readed" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
    <result column="ref_parking_lot" jdbcType="INTEGER" property="refParkingLot" />
    <result column="ref_rent_id" jdbcType="INTEGER" property="refRentId" />
  </resultMap>
</mapper>
